#! /bin/bash

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Coloured ls (https://geoff.greer.fm/lscolors/ for matching mac and linux colour schemes)
export CLICOLOR=1
export LSCOLORS=GxFxBxDxCxegedabagacad
export LS_COLORS='di=1;36:ln=1;35:so=1;31:pi=1;33:ex=1;32:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43'
if [ "$(uname -s)" == "Linux" ]; then
	alias ls='ls --color -GFh'
else
	alias ls='ls -GFh'
fi
alias la='ls -a'
alias ll='ls -l'

# Matlab
alias matlab='/Applications/MATLAB_R2018a.app/bin/matlab -nodesktop -nosplash'

# Profile command
alias reload_profile=". ~/.bash_profile"

# python virtual environment
alias ve="source venv/bin/activate"

# remove all latex temp files
alias clean_latex="rm -r {.,**,**/**}/*.{aux,log,fls,fdb_latexmk,synctex.gz}"

# postgres
alias postgres="/Applications/Postgres.app/Contents/Versions/12/bin/psql -p5432 -d"

# simple web server
alias webserver="python -m SimpleHTTPServer 8000"

# docker compose
alias dc="docker-compose"
