#! /bin/bash

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Allow scripts in Scripts folder to be executed as functions
export PATH=$PATH:~/Scripts

# Sublime text as editor
export EDITOR='subl -w'

# fix tmux
export EVENT_NOKQUEUE=1